.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.bg-water-animated {
  background-image: url("./assets/water-texture.png");
  background-size: cover;
  animation: waveAnimation 5s ease-in-out infinite;
  filter: blur(4px);
  transform: scale(1.05);
  opacity: 0.8;
}

@keyframes waveAnimation {
  0%,
  100% {
    transform: scale(1.05) translateX(0);
    filter: blur(4px);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.07) translateX(10px);
    filter: blur(5px);
    opacity: 0.85;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "DepartureMono";
  src: url("./fonts/DepartureMono-Regular.otf");
}
